<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89254989384-prnpbbe0il8pcuagu239qj3cvoqjc7tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89254989384-prnpbbe0il8pcuagu239qj3cvoqjc7tc</string>
	<key>API_KEY</key>
	<string>AIzaSyAAfSnJqkrULhmgiEGR-6xFN32S6W7VTII</string>
	<key>GCM_SENDER_ID</key>
	<string>89254989384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat2gether</string>
	<key>PROJECT_ID</key>
	<string>chat-2gether</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-2gether.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89254989384:ios:ba34c2a5260c0b2926d27d</string>
</dict>
</plist>